body {
	margin: 0;
	padding: 0;
	color: #555;
	line-height: 150%;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	padding-left: 0;
}
/*----------------------------------
	リンク
-----------------------------------*/
a{
	color: #4bd07a;
}
a:hover{
	text-decoration: none;
}
.link-nomal{
	color: #555;
	text-decoration: none;
}
.link-nomal:hover{
	color: #4bd07a;
}
/*----------------------------------
	フォント
-----------------------------------*/
/*font-family: 'Permanent Marker', cursive;
font-family: 'Acme', sans-serif;*/

/*----------------------------------
	ヘッダー
-----------------------------------*/
header{
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0;
	z-index: 999;
	background: #ffffffe6;
}
header h1{
	margin-top: 16px;
	padding-left: 30px;
	font-size: 40px;
	line-height: 24px;
	font-family: 'Acme', sans-serif;
}
header h1 a{
	color: #4bd07a;
	text-decoration: none;
}
header h1 a:hover{
	opacity: 0.7;
}
#top-nav{
	width: 300px;
	height: 56px;
}
#top-nav ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
	width: 260px;
	line-height: 56px;
}
#top-nav li:hover{
	background: #eee;
}
#top-nav a{
	text-decoration: none;
	padding: 0 20px;
	font-weight: bold;
	display: block;
	width: 104px;
	text-align: center;
}
/*----------------------------------
	レイアウト
-----------------------------------*/
main{
	margin: 96px auto;
}
.site-wrap{
	width: 720px;
	margin: 0 auto;
}
.flex-b{
	display: flex;
	justify-content: space-between;
}
.mt-16{
	margin-top: 16px; 
}
.mr-16{
	margin-right: 16px;
}
.mr-24{
	margin-right: 24px;
}
.mb-16{
	margin-bottom: 16px;
}
.pt-10{
	padding-top: 10px;
}
.px-16{
	padding: 0 16px;
}
.px-32{
	padding: 0 32px;
}
/*----------------------------------
	ボタン
-----------------------------------*/
.btn-primary{
	background: #4CAF50;
	color: #fff;
}
.btn-gray{
	background: #bfbfbf;
	color: #fff;
}
.btn-primary:hover, .btn-red:hover{
	opacity: 0.7;
}
.btn-mid{
	max-width: 120px;
}
/*----------------------------------
	投稿
-----------------------------------*/
.post{
	background: #f5f5f5;
	padding: 8px;
	margin: 4px auto;
	position: relative;
}
.post:hover{
	cursor: pointer;
}
.post-head{
	padding: 8px 0;
}
.icon-wrap{
	width: 72px;
	height: 72px;
	background: #bee6cc;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: absolute;
	top: 16px;
	overflow: hidden;
}
.icon-wrap a{
	display: block;
}
.user-icon{
	width: 100%;
}
.post-img-wrap{
	width: 98%;
	max-height: 506px;
	margin-top: 16px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	overflow: hidden;
}
.post-img{
	width: 100%;
}
.post .username,
.post-detail .username,
.prof .username{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
.post .username:hover, .post-detail .username:hover{
	border-bottom: 1px solid #333;
}
.post time, .post-detail time{
	color: #aaa;
	position: absolute;
	right: 16px;
}
.post-wrap{
	margin-left: 88px;
}
.post-foot{
	text-align: right;
	margin-top: 24px;
}
.btn-comment, .btn-like{
	display: inline-block;
	padding: 0 8px;
	cursor: pointer;
}
.btn-comment:hover{
	color: #4bd07a;
}
.btn-like:hover{
	color: #f44336;
}
/*----------------------------------
	投稿詳細
-----------------------------------*/
.comment{
	position: relative;
	border: solid 1px #aaa;
	padding: 8px 16px;
	margin: 16px 0;
}
/*----------------------------------
	フォーム
-----------------------------------*/
.form{
	width: 480px;
	border: 10px solid #bee6cc;
	padding: 40px;
	margin: 0 auto;
}
.form h2{
	margin-bottom: 40px;
	text-align: center;
}
.form-wrap{
	margin: 0 auto;
	width: 400px;
}
.err_msg{
	color: red;
}
label{
	display: block;
}
label.err input, label.err textarea{
	background: #fbdddd;
}
textarea{
	background: #f6f5f5;
	font-size:16px;
	width: 100%;
	border: none;
}
input[type="text"], input[type="password"]{
	margin-bottom: 15px;
	font-size: 18px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 60px;
	border: none;
	background: #f6f5f5;
	display: block;
}
input[type="submit"]{
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0;
	border: none;
	width: 100%;
}
input[type="submit"]:hover{
	cursor: pointer;
	opacity: 0.7;
}
.btn-container{
	padding-top: 18px;
	width: 100%;
	height: 72px;
}
.msg-container{
	margin: 0 auto;
	width: 400px;
	margin-top: 10px;
}
.counter-text{
	text-align: right;
}

/*画像アップロード*/
.form .imgDrop-wrap{
	width: 52%;
	padding: 4px;
	box-sizing: border-box;
	margin-bottom: 16px;
	overflow:hidden;
}
.form .img-area{
	position: relative;
	color: #aaa;
	background: #f6f5f5;
	font-size: 12px;
	width: 100%;
	height: 128px;
	text-align: center;
	box-sizing: border-box;
}
.form .input-file{
	opacity: 0;
	width: 100%;
	height: 127px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.form .prev-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*アイコン画像アップロード*/
.prof-img-area{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aaa;
	background: #f6f5f5;
	border: 1px solid #ccc;
	width: 32%;
	height: 120px;
	padding: 4px;
	margin: 0 auto;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	overflow: hidden;
}
.user-icon{
	text-align: center;
}
/*----------------------------------
	マイページ
-----------------------------------*/
.post-info{
	height: 56px;
	background: #bbb;
	line-height: 56px;
	text-align: center;
	font-size: 22px;
	position: relative;
	top: 56px;
	z-index: 2;
}
.mypage-wrap{
	position: relative;
	display: flex;
	margin: 72px auto;
	width: 88%;
}
.my-contents{
	width: 70%;
	height: 786px;
	padding-right: 72px;
	overflow: scroll;
}
/*----------------------------------
	サイドバー
-----------------------------------*/
.sideber{
	position: relative;
	width: 30%;
	background: #fff;
	margin: 0 16px;
	border: 1px solid #4db07a;
}
.sideber .prof{
	margin-top: 64px;
	list-style-type: none;
	text-align: center;
}
.prof-icon-wrap{
	width: 160px;
	height: 160px;
	background: #bee6cc;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: absolute;
	top: -128px;
	left: 24%;
	z-index: 3;
	overflow: hidden;
}
.porf-icon{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.menu{
	text-align: center;
	position: absolute;
	top: 320px;
	left: 10%;
	width: 80%;
}
/*サイドメニューのボタン*/
.menu a{
	display: block;
	margin: 15px auto;
	padding: 8px 16px;
	border: 1px solid #4bd07a;
	color: #4bd07a;
	text-decoration: none;
}
.menu a:hover{
	color: #fff;
	background: #4bd07a;
}
/*----------------------------------
	ポップアップ
-----------------------------------*/
.popup{
	border: 1px solid #4db07a;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 10;
	position: absolute;
	width: 432px;
	min-width: 368px;
	background: #f9fbe775;
	height: 240px;
	top:168px;
	left:44%;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 32px;
	box-sizing: border-box;
}
.popup .btn-container{
	padding-top: 88px;
	display: flex;
	justify-content: space-around;
}
/*----------------------------------
	フッター
-----------------------------------*/
footer{
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #eee;
	padding: 8px 0;
}
footer a{
	text-decoration: none;
	color: #555;
}
footer a:hover{
	border-bottom: 1px solid;
}